.wrapper {
  display: flex;
  flex-direction: column-reverse;
  max-width: 375px;
  margin: 0 auto;
}

.desktop {
  display: none;
}

@media (min-width: 1024px) {
  .wrapper {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1024px;
    width: 90%;
  }

  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }

  .card-body {
    max-width: 50vw;
    width: 85%;
  }
  .card-img {
    max-width: 30vw;
    width: 55%;
  }
}
