.wrapper {
  display: flex;
  flex-direction: column-reverse;
  max-width: 375px;
  margin: 0 auto;
}

.desktop {
  display: none;
}

.mobile {
  margin: 2rem 0 2rem 1.5rem;
}

.profile-img {
  margin-bottom: 3rem;
}

@media (min-width: 1024px) {
  .wrapper {
    flex-direction: row;
    align-items: center;
    max-width: 100%;
  }

  .desktop-card-body {
    max-width: 35%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100vh;
  }

  .card-img,
  picture,
  .card-img img {
    max-height: 100vh;
    margin-left: auto;
  }

  .desktop {
    display: block;
  }

  .mobile {
    display: none;
  }
}
